<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restful.system.mapper.SysRoleMapper">

    <select id="selectRoleByUserId" parameterType="Long" resultType="String">
        SELECT
            sr.role_key
        FROM
            sys_role sr
            LEFT JOIN sys_user_role sur ON sr.id = sur.role_id
        WHERE
            sur.user_id = #{userId};
    </select>
</mapper>